package-lock.json
_release

# Build artifacts
dist

# This would provide zero-install and we might commit it later, but let's leave
# it out for now.
.pnp*

# Various caches
.eslintcache
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules

# Editor and OS directories and files
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Yarn 3
.yarn/*
# we use global cache and this is only populated in CI
.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
.yarn/sdks
!.yarn/versions

# open-design cli
/packages/open-design/cli-dist
/packages/open-design/designs
